@font-face {
  font-family: 'akrobatbold';
  src: url('../fonts/akrobat-bold-webfont.woff2') format('woff2'),
       url('../fonts/akrobat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'akrobatlight';
  src: url('../fonts/akrobat-light-webfont.woff2') format('woff2'),
       url('../fonts/akrobat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'akrobatregular';
  src: url('../fonts/akrobat-regular-webfont.woff2') format('woff2'),
       url('../fonts/akrobat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'akrobatsemibold';
  src: url('../fonts/akrobat-semibold-webfont.woff2') format('woff2'),
       url('../fonts/akrobat-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Chaparral Pro';
  src: url('../fonts/ChaparralPro-Bold.woff2') format('woff2'),
      url('../fonts/ChaparralPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chaparral Pro';
  src: url('../fonts/ChaparralPro-Regular.woff2') format('woff2'),
      url('../fonts/ChaparralPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-container{
  max-width: 1024px;
  margin: 0 auto;
}
.container{
  max-width: 1024px;
  padding: 0px 15px;
  margin: 0 auto;
}
.wrapper{
  display: flex;
  overflow: hidden;
  justify-content: center;
  
}
body{
  background-color: #f1efe9;
}
.sidebar{
  position: sticky;
  background-color: #ffff;
  overflow: hidden;
  width: 241px;
  min-width: 241px;
  top: 0;
 
}
.main-body{
  position: relative;
  flex: 1;
    width: 70%;
  
}
.main-body .head-mobile{
  background-color: #fff;
 display: none;
  
 
  padding: 6px 10px 7px;
 

}
.sidebar .toogle-btn{
  display: none;
}

.logo{
  background: url(../img/logoshadow.png);
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0px 61px 0px;
  cursor: pointer;
}
.navbar{
  position: relative;
  margin-top: 35px;
}
.navbar ul{
  list-style: none;
  padding-inline: 20px;
}
.navbar ul li{
  text-align: center;
  position: relative;
  
}
.navbar ul li::after{
  position: absolute;
    content: url(../img/line.png);
    top: 48px;
    right: 5px;
    opacity: 0.3;
    width: 100%;
    z-index: 2;
}
.navbar ul li a{
  font-size: 26px;
letter-spacing: -1px;
line-height: 61px;
color: #000000;
font-family: 'akrobatregular';
text-align: center;
text-decoration: none;
transition: 0.3s all;
}
.navbar ul li a:hover{
  color: #fc8c15;
  transition: 0.3s all;
}
.social-icons{
  display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    margin-top:183px;
    cursor: pointer;
    padding: 0px 16px;
}
.social-icons img:hover{
  opacity: 0.5;
}
.hero-image{
  background: url(../img/homepagebannerimg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 370px;
  width: 100%;
  padding: 62px;
  display: block;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hero-image img{
  display: block;
}
.hero-image h1{
  position: relative;
  
  font-family: 'akrobatbold';
  font-size: 67px;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 1px;
line-height: 36px;
filter: drop-shadow(0 0 27px rgba(16,16,16,0.34));

}
.hero-content{
  padding-block: 84px 100px;
    padding-inline: 85px;

}
.hero-content p{
  font-size: 20px;
letter-spacing: 0px;
line-height: 32px;
color: #000000;
font-family: 'Chaparral Pro';
font-weight: 500;


text-align: center;
}
.button{
  margin-top: 36px;
  

text-align: center;
}
.button a{
  padding: 10px 26px;
  border-radius: 5px;
background-color: #fc8c15;
font-size: 16px;
letter-spacing: 1px;
line-height: 36px;
color: #fcfcfc;
font-weight: 500;
font-family: 'akrobatregular';
text-align: center;
text-decoration: none;
text-transform: uppercase;

}

.button a:hover{
background-color: white;
color: #fc8c15; 
transition: 0.5s all;
border: 1px solid #fc8c15;

}

.slider-section .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-box{
 position: relative;
width:484px;
margin-top: 32px;

}
.slider-box .slider{
  border: 5px solid #000;
}
.slider-section .slider-box .slider-arrows{
  
  width: 100%;
  height: 100%;
}
.slider-section{
  position: relative;
    background-color: #dad9d3;
    background: url(../img/slidersectionbg.png) repeat;
    padding: 67px 0 86px;
    overflow: hidden;
}
.slider-section h2{
  font-size: 24px;
letter-spacing: 3px;
line-height: 36px;
color: #000000;
font-family: 'akrobatregular';
text-align: center;
text-transform: uppercase;

}
.next-btn{
  position: absolute;
  top: 38%;
  transform: translate(10px, 10px);
  right: 0%;
  color: #000000;
  z-index: 2;
}
.prev-btn{
  position: absolute;
  top: 40%;
  left: -13px;

  color: #000000;
  z-index: 2;
}

.slider-arrows button{
  
  background-color: #000000;
  
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
}
.slider-box .slick-dots{
  position: absolute;
  bottom: 0px;
  transform: translateY(36px);
}

  .slider-box .slick-dots li{
    border: 2px solid #000;
    border-radius: 50px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    text-align: center;
    margin: 0px 0px 1px 33px;
  }
  .slider-box .slick-dots li button{
    background-color:transparent;
  }
  .slider-box .slick-dots li.slick-active button:before {
   
   background-color: #fc8c15;
    border-radius: 50px;
}
.slider-box .slick-dots li button:before{
  width: 14px;
  height: 14px;
}
.slider-content{
  position: relative;
  margin-top: 34px;
}
.slider-content h1{
  font-size: 32px;
  letter-spacing: -1px;
line-height: 36px;
color: #000000;
font-family: 'akrobatsemibold';
text-align: center;
text-transform: uppercase;

}
.slider-content p{
  font-size: 20px;
letter-spacing: 0px;
line-height: 26px;
color: #000000;
font-family: 'Chaparral Pro';
margin-top: 11px;


text-align: center;
}
.slider-content{
  position: relative;
  max-width: 441px;
}
.slider-content a{
  padding: 10px 23px;
  font-size: 18px;
}
.partner-section{
  position: relative;
  padding: 66px 42px;
}
.partner-section h2{
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 36px;
  color: #000000;
  font-family: 'akrobatregular';
  text-align: center;
  text-transform: uppercase;
  
}
.cards{
  position: relative;
  background-color: white;
  text-align: center;
  
}
.partner-section .container{
  display: flex;
    max-width: 712px;
    margin-top: 38px;
    gap: 20px;
    justify-content: center;
}
.cards .card-image{
  min-height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 37px 0px 8px;
}
.cards p{
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #000000;
  font-family: 'Chaparral Pro';
  margin-top: 12px;
  
  text-align: center;
}
.card-content{
 
  padding: 32px 40px 54px 40px;
}
.cards .card-content h2{
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  font-family: 'akrobatsemibold';
  text-align: center;
  


}
.card-content a{
  color: #959595;
  font-family: 'Chaparral Pro';
  font-size: 18px;
  display: block;
    margin-top: 14px;

}
.card-content a:hover{
  text-decoration: none;
  transition: 0.3s all;
}
.footer-image{
  background-image: url(../img/footerimg.png);
  height: 332px;
}
.partner-section .button{
  margin-top: 53px;
  
    padding-right: 8px;
}
.partner-section .button a{
  font-size: 18px;
  padding: 10px 20px;
}
@media (max-width:767px) {
  .sidebar{
    position:fixed;
    width:0px;
    min-width: 0px;
    
    opacity: 0;
    visibility: hidden;
    
  }
  .sidebar.active{
    display: block;
    
    left: 0px;
    width: 210px;
    z-index: 5;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: 0.3s all;
  }
  .main-body .head-mobile{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar.active .toogle-btn{
    display: block;
    position: absolute;
    top: 10px;
    left: 85%;
    cursor: pointer;
  }
.toogle-btn{
    display: block;
    position: absolute;
    left: 10px;
    cursor: pointer;
}
  
 .hero-section .hero-image{
    min-height: 170px;
    padding: 23px;
  }
  .hero-image h1{
    font-size: 41px;
  }
  
  .slider-section .slider-box{
    min-width: 253px;
    margin-top: 1px;
  }
  .partner-section .container{
    min-width: 280px;
    flex-direction: column;
    margin-top: 19px;
    gap: 13px;
  }
  .partner-section h2{
    font-size: 18px;
    padding-inline: 68px;
    letter-spacing: 2px;
    line-height: 26px;
  }
  .card-content{
    padding: 20px 25px 54px 18px;
  }
  .card-content h2{
    padding-inline: 0px;
  }
    .hero-content {
      padding-block: 40px 40px;
      padding-inline: 15px;
  }
  .hero-content .button a{
    padding: 8px 15px;
  }
  .hero-content p{
    line-height: 27px;
  }
  .partner-section{
   
      position: relative;
      padding: 33px 0px;
  }
  .cards .card-image{
    margin: 29px 0px 8px;
  }
  .slider-section{
    padding: 24px 0 43px;
  }
  .slider-content h1{
    font-size: 23px;
  }
  .slider-content p{
    font-size: 17px;
    line-height: 21px;
    margin-top: 4px;
  }
  .slider-content{
    margin-top: 25px;
    
  }
  .slider-content .button{
    margin-top: 20px;
  }
  .slider-content a {
    padding: 8px 13px;
    font-size: 15px;
  
  }
  .slider-section h2{
    font-size: 17px;
  }
  .slider-arrows button {
    
    width: 18px;
    height: 18px;
    border-radius: 45px;
    
}
.slider-box .slick-dots {
  
  transform: translateY(28px);
}
.slider-box .slick-dots li {
  
  width: 8px;
  height: 8px;
  
  margin: 0px 10px 2px 13px;
}
.partner-section .button {
  margin-top: 23px;
  padding-right: 0px;
}
.partner-section .button a {
  font-size: 14px;
  padding: 8px 14px;
}

.prev-btn {
  position: absolute;
  top: 36%;
  left: -10px;}
  .navbar ul li a {
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 49px;}
    .navbar ul li::after{
      top: 39px;
    }
    .social-icons{
      margin-top: 26px;
      padding: 0px;
    }
    .logo{
      padding: 32px 0px 41px 0px;
    }
    .logo img{
      width: 145px;
      height: 138px;
    }
    .navbar{
      margin-top: 14px;
    }
    .partner-section .container{
      width: min(460px,90%);
    }

}
@media (max-width:525px) {
  .slider-section .slider-box{
    max-width: 253px;
}
.next-btn{
  top: 30%;
}

}